.Strange {
    margin-bottom: 50px;
    height: 550px;
    width: 400px;
    left: 40px;
  }

  .Six {
    margin-bottom: 50px;
    height: 550px;
    width: 400px;
    left: 40px;
  }

  .Fantastic {
    margin-bottom: 50px;
    height: 550px;
    width: 400px;
    left: 40px;
  }

  .Jumanji {
    margin-bottom: 350px;
    height: 550px;
    width: 400px;
    left: 40px;
  }
  
  .ThorLT {
    margin-bottom: 350px;
    height: 550px;
    width: 400px;
    left: 40px;
  }

  .Belle {
    margin-bottom: 350px;
    height: 550px;
    width: 400px;
    left: 40px;
  }